


body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #CC5500
}


.hero-banner{
  background-color: brown;
  height: 100vh;
  font-size: 20px;
}
h1 {
  font-size: 80px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: right;
  
}
ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
}

li {
   width: 200px;
   text-decoration: none;
}

h2 {
  font-size: 40px;
  margin-bottom: 10px;
}


p {
  margin: 0;
  font-size: 25px;
}


.hero-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

footer {
  /* background-color: #3d0c02; */
  /* color: #f8f8ff; */
  text-align: center;
  padding: 80px;
}

.hero-text {
  margin-left: 70px;
  margin-bottom: 200px;
}

.button{
width: 200PX;
height: 55px;
border-radius: 30PX;
background-color: #8F4600;
text-align: center;
margin: 30PX;
font-size: 30PX;
font-weight: 30PX;
padding-top: 5PX;

}



.button-hover {
  background-color: #B8860b;
}


.button-active {
  background-color: #00008B;
  color: #c4aead;
}

 
.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.picture {
  width: 300px;
  border-radius: 150px;
}

.image-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow:5px 5px 20px; 

}
.project-container {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
  .project-container{
    display: flex;
    flex-wrap: wrap;
  }
}


.project-image {
  margin-top: 25px;
  width: 250px;
  border-radius: 122px;
}


hr {
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}